name: Auto Deploy to VM

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Deploy to VM
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: ${{ secrets.VM_HOST }}
        username: ${{ secrets.VM_USER }}
        key: ${{ secrets.VM_KEY }}
        script: |
          # cd /root
          if [ ! -d "devops-project" ]; then
            git clone https://github.com/samimosmansabuj/devops-journey.git
          fi
          cd devops-project
          git pull
          sudo systemctl restart nginx
          sudo systemctl stop cdcd_flask_app
          sudo systemctl start cdcd_flask_app
